body {
  margin: none;
  padding: none;
  width: 100vw;
  height: 100vh;
}

#root {
  margin: 0 auto;
  min-width: min(500px, 90vw);
  padding: 1rem;
  text-align: left;
}

section {
  display: grid;
  border-bottom: 1px solid lightblue;
}

label {
  font-weight: 700;
  color: lightblue;
}

.text-field {
  display: grid;
  grid-template-columns: 30% 1fr;
  gap: 0.4rem;
  margin-bottom: 1rem;
}

.edit-save-btn,
.add-btn {
  margin-bottom: 1rem;
}

.experience .title.edit {
  display: grid;
  grid-template-columns: 1fr 1fr;
  justify-content: space-between;
  align-items: baseline;
}

.experience.summary {
  margin-bottom: 1rem;
  display: grid;
  gap: 0.4rem;
}

.experience.summary.edit {
  grid-template-columns: 30% 1fr max-content;
}

.experience.summary.edit button {
  align-self: center;
  justify-self: center;
  border-radius: 50%;
  width: 20px;
  height: 20px;
  padding: 0;
  line-height: 1;
  font-size: 0.7rem;
}

.experience.summary.display {
  grid-template-columns: 30% 1fr;
  color: lightblue;
  font-weight: 700;
}

.edit .from-to {
  display: grid;
  grid-template-columns: 1fr max-content 1fr max-content;
}

.edit .from-to input {
  min-width: 0;
  min-height: 0;
  padding: 0;
}

.experience.work-details .display {
  font-weight: 300;
}

.experience.work-details .text-field {
  margin-bottom: 0.5rem;
}

.experience.work-details .text-field:last-child {
  margin-bottom: 1.5rem;
}

/* .from-to input {
  max-width: 60px;
  margin: 0;
} */
