body {
  margin: none;
  padding: none;
  width: 100vw;
  height: 100vh;
}

#root {
  margin: 0 auto;
  min-width: min(500px, 90vw);
  padding: 1rem;
  text-align: left;
}

section {
  display: grid;
  border-bottom: 1px solid lightblue;
}

label {
  font-weight: 700;
  color: lightblue;
}

.text-field {
  width: 100%;
  display: grid;
  grid-template-columns: 30% 1fr;
  margin-bottom: 1rem;
}

.edit-save-btn,
.add-btn {
  width: 100%;
  margin-bottom: 1rem;
}

.education-title.edit {
  display: grid;
  grid-template-columns: 1fr 1fr;
  justify-content: space-between;
  align-items: baseline;
}

.timeframe-text-field {
  margin-bottom: 1rem;
  display: grid;
}

.timeframe-text-field.edit {
  grid-template-columns: 30% 1fr max-content;
  max-width: 100%;
  gap: 0.4rem;
}

.timeframe-text-field.edit button {
  align-self: center;
  border-radius: 50%;
  width: 20px;
  height: 20px;
  padding: 0;
  font-size: 0.7rem;
}

.timeframe-text-field.display {
  grid-template-columns: 30% 1fr;
}

.edit .from-to {
  display: grid;
  grid-template-columns: 1fr max-content 1fr max-content;
}

.edit .from-to input {
  min-width: 0;
}

/* .from-to input {
  max-width: 60px;
  margin: 0;
} */
